<header class="page-header">
  <h1>Login</h1>
</header>

<%= bootstrap_form_tag url: '/sessions' do |f| %>

  <%= f.email_field :email, placeholder: 'name@example.com' %>
  <br>
  <%= f.password_field :password %>
  <br>
  <br>
  <%= f.submit "Log In" %>

<% end %>