<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Jungle</h1>
    <h3>Order number: <%= @order.id %></h3>
    <p>
      Your order has been successfully placed!<br>
    </p>
    <p>
      To login into Jungle, please follow this link: <%= @url %>
    </p>
    <p>
      Thank you for your order!
    </p>
  </body>
</html>